/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
    text-decoration: none;
    color: black;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    background-color: rgb(255,224,208)
}
.logo img{
    height: 80px;
    margin: 0 auto;
    width: 80px;
    
    display:block;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toggle-nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 15px;
    margin-bottom: 15px;
}
ul.navegacion{
    display: none;
    width: 100%;
}

nav:hover ul.navegacion{
    display: block;
}
.navegacion{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    width: 100%;
}
.menu{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
     margin: 0 auto;
     margin-bottom: 10px;
    width:90%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

a.nav{
    color: white;
    text-decoration: none;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
img.portadaartist{
    display: block;
    margin: 0 auto;
    max-width: 150px;
    min-height: 150px;
    border-radius: 50%;
}
h3{
    text-align: center;
    margin: 0 auto;
    font-family:'Inria Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
    padding: 10px;
}
.infoalbum ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    
}
ul li{
   margin-left: 0;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-right: 5px; 
}
.txchico{
    font-size: 15px;
    margin-bottom: 3px;
}
.titulo{
    margin-bottom: 30px;
}
.seguidores{
    margin-bottom: 30px;
}
h4.reproducir{
    
    color: white;
    padding: 10px;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    
}

.colrepro {
    display: grid;
    grid-template-rows: auto;
    border-radius: 15px;
    border: 1px solid black; 
    background-color: black;
    width: 45%;
    margin: 0 auto;
    
}
ul.gridrepro {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
    
     
}
li.cancion a{
    text-decoration: none;
    color: black;

}
.far{
    color: white;
    width: 10px;
    height: 10px;
    padding-top: 10px;
    padding-right: 7px;
    padding-left: 5px;
}
section.listasongs{
    background-color: rgb(250, 229, 219);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
ol.listacanciones{
    list-style: decimal-leading-zero;
    margin-left: 50px;
}
.cancion{
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    
}
.borde1{
    padding-top:10px ;
}
.footer{
    background-color: black;
    width:100%;
    display: grid;
    grid-template-columns: 15% 80%;
    justify-content: space-around;
    height: 50px;
    margin-top: 180px;
    
}
.nosotras{
    font-family:'Inria Sans', sans-serif;
    font-size: 10px;
    

}
.deezer img{
    height:30px;
    margin:0 auto;
    display:block;
    margin-top: 10px;
}


article.col{
    background-color: rgb(250, 229, 219);
    height: 25px;
    padding: 5px;
    width: 85%;
    margin: 0 auto;

    
}
.columnas{
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-around;
    
}
h4.album{
    font-size: 20px;
    font-family:'Inria Sans', sans-serif;
    padding-top: 3px;
    margin-left: 0px;
    padding-left: 0px;
}
.fas{
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
h6.quiero{
    font-size: 20px;
    font-family:'Inria Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

div.titaudiora{
    display: none;
}
div.nosotras{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
.nos{
    font-size: 12px;
    font-weight: 3px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.aescuchar{
    height: 90px;
    margin-left: 20px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;

}




@media (min-width: 1024px){
    header {
        display: grid;
        grid-template-columns: 10% 30% 55%;
        justify-content: space-around;
        background-color: black;
        height: 90px;
        margin-bottom: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    div.titaudiora{
        display: block;
    }
    .audiora{
        color: white;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;

    }
    .toggle-nav{
        display: none;
    }
    nav:hover ul.navegacion{
        display: grid;
    }
    ul.navegacion{
        display: block;
        display: grid;
        grid-template-columns:5% 30% 30% 30%;
        justify-content: space-around;
        margin-top: 20px;
    }
    .fas{
        font-size: 25px;
    }
    .logo img{
        height: 70px;
        display:block;
        width: 70px;
        padding-top: 7px;
        padding-bottom: 3px;
        margin: 0 auto;
        margin-right: 3px;
        
    }
    h4.audiora{
        margin-top: 20px;
        font-size: 46px;
        font-family: 'Dancing Script', cursive;;
        color:  rgb(250, 229, 219);
        letter-spacing: 5px;
    }
    a.nav{
        color: white;
        text-decoration: none;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }    
    .menu{
        text-align: center;
        margin: 0;
        margin-bottom: 0;
        width:90%;
        margin-top: 5px;
    }
    div.container{
        display: grid;
        grid-template-columns: 40% 50%;
        justify-content: space-around;
        margin-bottom: 150px;

    }
    img.portadaartist{
        display: block;
        max-width: 300px;
        min-height: 300px;
        padding-top: 30px;
        padding-left: 8px;
        margin-bottom: 10px;
    }
    h3{
        text-align: center;
        margin: 0 auto;
        font-family:'Inria Sans', sans-serif;
        font-size: 40px;
        color: black;
        text-decoration: none;
        padding: 10px;
        padding-bottom: 5px;
        margin-top: 0;
        margin-bottom: 10px;
    }
   
    footer{
        height: 60px;
        background-color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .nosotras{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space space-around;
        
    }
    .nos{
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    .deezer img{
         display:block;
         height:40px;
        margin:0 auto;
       margin-top: 10px;
    }
 
    section.listasongs{
            display: block;
            background-color: rgb(250, 229, 219);
            width: 100%;
            margin: 0 auto;
            margin-top: 55px;
            margin-bottom: 0px;
        }
        ol.listacanciones{
            list-style: decimal-leading-zero;
            margin-left: 50px;
        }
        .cancion{
            font-family:'Inria Sans', sans-serif;
            font-size: 20px;
            padding: 8px;
            
        }
    .txchico{
       font-size: 24px; 
       margin-bottom: 10px;
    }    
    .titulo{
        font-size: 20px;
    }
    .seguidores{
        font-size: 20px;
    }
    .columnas{
        display: grid;
        grid-template-columns: 10% 90%;
        justify-content: space-around;
    }
    h4.album{
        font-size: 25px;
        font-family:'Inria Sans', sans-serif;
        padding-left: 10px;
        padding-top: 3px;
        margin-left: 0;
       
    }
    .fas{
        display: block;
        width: 50px;
        height: 50px;
        padding-top: 5px;
    }
    h6.quiero{
        font-size: 30px;
        font-family:'Inria Sans', sans-serif;
        font-weight: bold;
        text-align: left;
    }
    
    article.col{
        background-color: rgb(250, 229, 219);
        height: 40px;
        padding: 5px;
        padding-top: 15px;
        margin-top: 33px;
        width: 100%;
    }
  .aescuchar{
      margin-left: 26px;
  }
}
