/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color:black;
}



body{
    background-color: rgb(255,224,208);
    margin-top: 0;
    padding: 0;
}
.logo{
    padding-top: 10px;
}
.logo img{
    height: 80px;
    margin: 0 auto;
    width: 80px;
    display:block;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 0px;
}

.toggle-nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 15px;
    margin-bottom: 15px;
}
ul.navegacion{
    display: none;
    width: 100%;
}

nav:hover ul.navegacion{
    display: block;
}
.navegacion{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    width: 100%;
}
.menu{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
    margin: 0 auto;
    margin-bottom: 10px;
    width:90%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
}

a.nav{
    color: white;
    text-decoration: none;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.footer{
    background-color: black;
    width:100%;
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-around;
    height:50px;
    margin-top: 100px;
    
}
.deezer{
    display: grid;
    grid-template-columns: 50% 20% 20%;
    justify-content: center;
}
.fab{
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 5px;
}
.nosotras{
    font-family:'Inria Sans', sans-serif;
    font-size: 10px;
    
}
.deezer img{
    height:30px;
    margin:0 auto;
    margin-top: 10px;
    display:block;
}
div.titaudiora{
    display: none;
}
div.nosotras{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
.nos{
    font-size: 12px;
    font-weight: 3px;
    text-align: center;
    color:white;
    margin-top: 20px;
}
.buscar{
    display:none;
}

/* header y footer */
.rankings{
    display: grid;
    grid-template-columns: 100%;
}
.rankings img{
    width: 65%;
    height: 200px;
    align-content: center;
    display: block;
    margin: auto;
}
.sections {
    text-align: center;
    margin: 0 auto;
    font-family:'Inria Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
}

.albums img{
    width:55%;
}

a.nombre{
    
    color:black;
    display: none;
    text-decoration: none;

}

h4.nombre{
    color:black;
    font-family:'Inria Sans', sans-serif;
    text-align: center;
}

img.foto{
    margin: 0 auto;
    width: 45%;
    height:175px;
    border-radius: 100%;
    display: block;
    margin-bottom: 10px;
}

ul.detalle{
   
    width:100%;
    
}
nav:hover ul.detalle{
    display: block;
    
}

.detalle{
    display: grid;
    grid-template-columns:100%;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.spinnertracks{
    margin-top: 20px;
}
.mensaje{
    background-color: black;
    width: 90%;
    align-content: center;
    margin: 0 auto;
    height: 100px;
    padding-top: 20px;
}
.unite{
    font-family:'Inria Sans', sans-serif ;
    color: white;
    font-size: 20px;
    text-align: center;
}
.boton{
    background-color:white;
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    height:40px;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    margin-left:90px;
    
}
.uk-modal-dialog{
    margin-top: 50px;
    background-color: rgb(250, 229, 219);
    width: 90%;
    margin: 0 auto;
    height: 300px;
    
    
}
.registrarse{
    margin-top: 50px;
    background-color: rgb(250, 229, 219);
    width: 90%;
    margin: 0 auto;
   
}
.formulario{
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    color: black;
}
.name{
    margin-bottom: 20px;
    
}
.enviando{
    background-color:white;
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    height:40px;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    margin-left:65px;
    margin-bottom: 10px;
    
}
.condiciones{
    font-family:'Inria Sans', sans-serif;
    font-size: 15px;
    color: black;
}
.fas{
    font-size: 20px;
}
.graciaslogo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    align-content: center;
    margin-left: 80px;
}

.gracias{
    font-family:'Inria Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}



@media (min-width:1024px){
    header {
        display: grid;
        grid-template-columns: 10% 30% 55%;
        justify-content: space-around;
        background-color: black;
        height: 90px;
        margin-bottom: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    div.titaudiora{
        display: block;
    }
    .audiora{
        color: white;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;

    }
    
    .toggle-nav{
        display: none;
    }
    nav:hover ul.navegacion{
        display: grid;
    }
    ul.navegacion{
        display: block;
        display: grid;
        grid-template-columns:  5% 30% 30% 30%;
        justify-content: space-around;
        margin-top: 26px;
    }
   .fas{
       font-size: 28px;
   }
   .logo{
       padding-top: 7px;
       padding-bottom: 7px;
   }
   .logo img{
    height: 75px;
    display:block;
    width: 70px;
    padding-bottom: 3px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 10px;
}

    h4.audiora{
        margin-top: 20px;
        font-size: 46px;
        font-family: 'Dancing Script', cursive;;
        color:  rgb(250, 229, 219);
        letter-spacing: 5px;
    }
    a.nav{
        color: white;
        text-decoration: none;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 5px;
    }   
    menu{
        text-align: center;
        margin: 0;
        margin-bottom: 0;
        width:90%;
    
    }
    div.container{
        display: grid;
        grid-template-columns: 40% 50%;
        justify-content: space-around;
        margin-bottom: 150px;
        margin-top: 60px;
    }
    footer{
        height: 60px;
        background-color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }
    .nosotras{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space space-around;
       
    }
    .nos{
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    .deezer img{
         display:block;
         height:40px;
        margin:0 auto;
       margin-top: 10px;
    }
    
    .top5{
        margin-top: 30px;
        
    }
    .nombre{
        margin-bottom: 10px;

    }
    .rankings{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-between;
        margin-bottom:70px;
    }
    .rankings img{
        height:150px;
    }
    .detalle{
        height:250px;
    }
    .nuevo{
        font-family:'Inria Sans', sans-serif;
        text-align: left;
        margin-right: 10px;
        color: black;
        margin-left: 10px;
    }

    .buscar{
        display: block;
        margin: 100px auto;
        width: 300px;
        height: 50px;
        margin-left: 40px;
        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        
    }
    .container-1{
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
      }

      .container-1 input#search{
        width: 300px;
        height: 50px;
        background-color:rgb(230, 213, 205);
        border: none;
        font-size: 10pt;
        float: left;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      .container-1 .icon{
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
      }

      .fab{
          margin-top: 15px;
          font-size: 30px;
      }
      
      .uk-modal-dialog{
          width: 40%;
      }
      .registrarse{
          margin-left: 70px;
      }
      .boton{
          margin-left: 520px;
          width: 200px;
      }
      .graciaslogo{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        align-content: center;
        margin-left: 110px;
    }
    
    .gracias{
        font-family:'Inria Sans', sans-serif;
        font-size: 30px;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 100px;
    }
    img.foto{
        margin: 0 auto;
        width: 50%;
        height:150px;
        border-radius: 100%;
        display: block;
        margin-bottom: 10px;
    }

 
  

}
