/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    background-color: rgb(255,224,208)
}
.logo img{
    height: 150px;
    margin: 0 auto;
    width: 55%;
    border-radius: 50%;
    display:block;
    align-content: center;
    margin-bottom: 10px;
}
.toggle-nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 15px;
    margin-bottom: 15px;
}
ul.navegacion{
    display: none;
    width: 100%;
}

nav:hover ul.navegacion{
    display: block;
}
.navegacion{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    width: 100%;
}
.menu{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
    margin-bottom: 10px;
    width:100%;
}

a.nav{
    color: white;
    text-decoration: none;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    width:100%;
}

.footer{
    
    width:100%;
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-between;
    
}
.nosotras{
    font-family:'Inria Sans', sans-serif;
    font-size: 13px;
    margin-top: 10px;
}
.deezer img{
    height:30px;
    margin:0 auto;
    margin-left: 20px;
    display:block;
}
.buscar{
    display:none;
}
.rankings{
    display: grid;
    grid-template-columns: 100%;
}
.rankings img{
    width: 65%;
    height: 200px;
    align-content: center;
    display: block;
    margin: auto;
}
.sections {
    text-align: center;
    margin: 0 auto;
    font-family:'Inria Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
}

.albums img{
    width:55%;
}

a.nombre{
    
    color:black;
    display: none;
    text-decoration: none;

}

h4.nombre{
    color:black;
    font-family:'Inria Sans', sans-serif;
    text-align: center;
}

img.foto{
    margin: 0 auto;
    width: 50%;
    height:150px;
    border-radius: 100%;
    display: block;
    margin-bottom: 10px;
}

ul.detalle{
   
    width:100%;
    
}
nav:hover ul.detalle{
    display: block;
    
}

.detalle{
    display: grid;
    grid-template-columns:100%;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width:1024px){
    header {
        display: grid;
        grid-template-columns: 30% 60%;
        justify-content: space-around;
        background-color: black;
        height: 90px;
        margin-bottom: 50px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .toggle-nav{
        display: none;
    }
    nav:hover ul.navegacion{
        display: grid;
    }
    ul.navegacion{
        display: block;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        margin-top: 26px;
    }
    .logo img{
        height: 90px;
        display:block;
        border-radius: 100%;
        
    }
    a.nav{
        color: white;
        text-decoration: none;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }    
    .menu{
        text-align: center;
        margin: 0;
        margin-bottom: 0;
        width:90%;
        margin-top: 5px;
    }
    div.container{
        display: grid;
        grid-template-columns: 40% 50%;
        justify-content: space-around;
        margin-bottom: 150px;
        margin-top: 60px;
    }
    
    .top5{
        margin-top: 30px;
        
    }
    .nombre{
        margin-bottom: 10px;

    }
    .rankings{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-between;
        margin-bottom:70px;
    }
    .rankings img{
        height:150px;
    }
    .detalle{
        height:250px;
    }
    .buscar{
        margin-left: 40px;
        width:10%;
        padding-left: 20px;
        display: grid;
        grid-template-columns: 10% 90%;
        background-color:rgb(250, 229, 219);
        align-content: center;
        display:grid;
        grid-template-columns: 20% 80%;
        justify-content: space-between;
        border: 1px solid rgb(235, 223, 228);
        margin-bottom: 50px;
        height: 20px;
    }
    
    .nuevo{
        font-family:'Inria Sans', sans-serif;
        text-align: left;
        margin-right: 10px;
        color: black;
        margin-left: 10px;
    }
}