/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    background-color: rgb(255,224,208)
}
.logo img{
    height: 150px;
    margin: 0 auto;
    width: 55%;
    border-radius: 50%;
    display:block;
    align-content: center;
    margin-bottom: 3px;
}
.toggle-nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 15px;
    margin-bottom: 10px;
}
ul.navegacion{
    display: none;
    width: 100%;
}

nav:hover ul.navegacion{
    display: block;
    width: 90%;
    margin: 0 auto;
    
}
.navegacion{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    width: 100%;
    margin:5px;
}
.menu{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
    margin-bottom: 5px;
    width:100%;
    background-color: black;
}

a.nav{
    color: white;
    text-decoration: none;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    width:100%;
}
.menu{
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.footer{
    
    width:100%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-around;
    
}
.nosotras{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    
}
.nosotras h3{
    font-size:12px;
    font-family: 'Inria Sans', sans-serif;
    margin-left: 7px;
    padding-top:10px;
    
}

.deezer img{
    height:30px;
    margin:0 auto;
    margin-left: 15px;
    display:block;
    margin-bottom: 10px;
}
.rankings{
    display: grid;
    grid-template-columns: 100%;
    
}

.rankings img{
    width: 65%;
    height: 200px;
    align-content: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.sections {
    text-align: center;
    margin: 0 auto;
    font-family:'Inria Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}


.top5{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
    margin-bottom: 5px;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color:black;

}

a.nombre{
    
    color:black;
    display: none;
    text-decoration: none;

}

img.foto{
    margin: 0 auto;
    width: 50%;
    border-radius: 100%;
    display: block;
    margin-bottom: 3px;
}

ul.detalle{
   
    width:100%;
    
}
nav:hover ul.detalle{
    display: block;
    
}

.detalle{
    display: grid;
    grid-template-columns:100%;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}


