/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    background-color: rgb(255,224,208)
}
.logo img{
    height: 150px;
    margin: 0 auto;
    width: 55%;
    border-radius: 50%;
    display:block;
    align-content: center;
    margin-bottom: 3px;
}
.toggle-nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 15px;
    margin-bottom: 10px;
}
ul.navegacion{
    display: none;
    width: 100%;
}

nav:hover ul.navegacion{
    display: block;
    width: 90%;
    margin: 0 auto;
    
}
.navegacion{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    width: 100%;
    margin:5px;
}
.menu{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
    margin-bottom: 5px;
    width:100%;
    background-color: black;
}

a.nav{
    color: white;
    text-decoration: none;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    width:100%;
}
.menu{
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.footer{
    
    width:100%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-around;
    
}
.nosotras{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    
}
.nosotras h3{
    font-size:12px;
    font-family: 'Inria Sans', sans-serif;
    margin-left: 7px;
    padding-top:10px;
    
}

.deezer img{
    height:30px;
    margin:0 auto;
    margin-left: 15px;
    display:block;
    margin-bottom: 10px;

}
.h1{
    font-family:'Inria Sans', sans-serif;
    font-size: 30px;
    text-decoration:underline;
    height: 50px;
    margin: 20px;
    margin-top: 10px;
}
.crear{
    background-color:rgb(250, 229, 219);
    width: 50%;
    height:25px;
    align-content: center;
    padding-right:10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
    border: 1px solid rgb(235, 223, 228);
    margin-bottom: 20px;
}

.nuevo{
    font-family:'Inria Sans', sans-serif;
    text-align: right;
    margin-right: 10px;
    color: black;
}

.mia{
    display: block;
    width:100%;
    height:50px;
}
.playlists{
    background-color:rgb(250, 229, 219);
    padding-top: 10px;
    width:95%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.musica{
    display: grid;
    grid-template-columns: 20% 70% 5%;
    margin-left:10px;
    width:95%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.nombre{
    font-family:'Inria Sans', sans-serif;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subnombre{
    font-family:'Inria Sans', sans-serif;
    margin-left: 10px;
    font-size: 12px;
}
.data i{
    margin-top: 10px;
    font-size: 30px;
}




@media (min-width:1024px){
    header {
        display: grid;
        grid-template-columns: 30% 60%;
        justify-content: space-around;
        background-color: black;
        height: 90px;
        margin-bottom: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .toggle-nav{
        display: none;
    }
    nav:hover ul.navegacion{
        display: grid;
        margin-top: 26px;
    }
    ul.navegacion{
        display: block;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        margin-top: 26px;
    }
    .logo img{
        height: 90px;
        display:block;
        border-radius: 100%;
        
    }
    a.nav{
        color: white;
        text-decoration: none;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }    
    .menu{
        text-align: center;
        margin: 0;
        margin-bottom: 0;
        width:90%;
        margin-top: 5px;
    }
    div.container{
        display: grid;
        grid-template-columns: 40% 50%;
        justify-content: space-around;
        margin-bottom: 150px;
        margin-top: 60px;
    }
    .variedad{
        display:grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }
    .musica{
        display: grid;
        grid-template-columns: 100%;
    }
    .mia{
        height:250px;
        width:80%;
        margin:0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .crear{
        margin-left: 40px;
        width:23%;
        padding-left: 20px;
        display: grid;
        grid-template-columns: 10% 90%;
    }
    .nuevo{
        text-align: center;
    }
    .data{
        margin: 0 auto;
    }
    .nombre{
        margin: 0 auto;
        text-align: center;
    }
    .subnombre{
        margin: 0 auto;
        margin-bottom: 5px;
        text-align: center;
    }
    .h1{
        margin-left: 40px;
    }
    .data i{
        margin-top:0px;
        font-size: 25px;
    }
    
}