
body{
    background-color: rgb(255,224,208);
    margin: 0;
}
.logo img{
    height: 80px;
    margin: 0 auto;
    width: 80px;
    display:block;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toggle-nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 15px;
    margin-bottom: 15px;
}
ul.navegacion{
    display: none;
    width: 100%;
    padding-left: 0px;
}

nav:hover ul.navegacion{
    display: block;
}
.navegacion{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    width: 100%;
}
.menu{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight:bold;
     margin: 0 auto;
     margin-bottom: 10px;
    width:90%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

a.nav{
    color: white;
    text-decoration: none;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
img.portadaplaylist{
    display: block;
    max-width: 200px;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.infoalbum ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
}
ul li{
   margin-left: 0;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    color: black;
    list-style: none;
    margin-right: 5px;
}
.chico{
    font-size: 20px;
    margin-bottom: 3px;
}
.titulo{
    margin-bottom: 30px;
    text-decoration: solid;
}
.horas{
    margin-bottom: 30px;
    text-decoration: solid;
}
.reproducir{
    color: white;
    font-family:'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 5px;
    
}
.repro{
    margin: 0;
}
.colrepro {
    display: grid;
    grid-template-rows: auto;
    border-radius: 15px;
    border: 1px solid black; 
    background-color: black;
    width: 53%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
}
.titulando{
    font-family:'Inria Sans', sans-serif;
    text-align: center;
    font-size: 30px;
}
ul.gridrepro {
    display: grid;
    grid-template-columns: 30% 60%;
    text-align: center; 
    margin-left: 0;
    padding-left: 0px;
    margin-top: 12px;
}
.far{
    margin-right: 0px;
    color: white;
    width: 10px;
    height: 10px
}
.simbolo{
    margin-right: 0px;
    align-content: right;
}

.infoalbum ul{
    padding-left: 0px;
}
.bloque{
    margin: 0 auto;
    margin-top: 32px;
    background-color: rgb(250, 229, 219);
    width: 90%;
}
.borde1{
    padding-top: 10px;
}
.borde2{
    padding-bottom: 10px;
}
ul.info{
    padding-left: 0px;
}
.footer{
    background-color: black;
    width:100%;
    display: grid;
    grid-template-columns: 15% 80%;
    justify-content: space-around;
    height: 50px;
    margin-top: 180px;
   
 }

 .nosotras{
    font-family:'Inria Sans', sans-serif;
    font-size: 10px;
   
  
 }
 .deezer img{
    height:30px;
    margin:0 auto;
    display:block;
    margin-top: 10px;
 }
 div.titaudiora{
    display: none;
 }
 div.nosotras{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
 }
 .nos{
    font-size: 12px;
    font-weight: 3px;
    text-align: center;
    color: white;
    margin-top: 20px;
 }
 li.can{
    margin: 10px;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
    list-style:decimal-leading-zero; 
}

.names{
    display: none;
}

.alsong{
text-decoration: none;
color: black;
}

.daleplay{
    height: 90px;
    margin-left: 58px;
    margin-bottom: 20px;

}



@media(min-width: 1024px){

    header {
        display: grid;
        grid-template-columns: 10% 30% 55%;
        justify-content: space-around;
        background-color: black;
        height: 90px;
        margin-bottom: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    div.titaudiora{
        display: block;
    }
    .audiora{
        color: white;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
  
    }
 
 .toggle-nav{
        display: none;
    }
    nav:hover ul.navegacion{
        display: grid;
    }
    ul.navegacion{
        display: block;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        margin-top: 26px;
    }
    .logo img{
        height: 70px;
        display:block;
        width: 70px;
        padding-top: 7px;
        padding-bottom: 3px;
        margin: 0 auto;
        margin-right: 3px;
       
    }
    h4.audiora{
        margin-top: 20px;
        font-size: 46px;
        font-family: 'Dancing Script', cursive;;
        color:  rgb(250, 229, 219);
        letter-spacing: 5px;
    }
    a.nav{
        color: white;
        text-decoration: none;
        font-family:'Inria Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }   
    .menu{
        text-align: center;
        margin: 0;
        margin-bottom: 0;
        width:90%;
        margin-top: 5px;
    }
 
 footer{
        height: 60px;
        background-color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .nosotras{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space space-around;
       
    }
    .nos{
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    .deezer img{
         display:block;
         height:40px;
        margin:0 auto;
       margin-top: 10px;
    } 
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 270px;
        }
    img.portadaplaylist{
    height: 200px;
    width: 200px;
    margin-left: 155px;

    }
    .fotito{
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 0px;
        padding-left: 0;
        
    }
    .nombre{
        text-align: center;
    }
    .infoalbum{
        text-align: left;
    }
    .playlist{
        height: 40px;
    }
    .reproducir{
        font-size: 25px;
        padding-top: 1px;
        text-align: left;
    }
    
    .titulando{
        margin: 0 auto;
        font-family:'Inria Sans', sans-serif;
        font-size: 25px;
        color: black;
        text-decoration: none;
        padding-bottom: 5px;
        margin-left: 70px;
    }
    ul.gridrepro{
        margin-top: 8px;
    }
    .far{
        padding-top: 7px;
    }
    .bloque{
        margin: 0 auto;

    }
    .ul{
        text-align: left;

    }
   .canciones li{
       font-weight: none;
       padding: 8px;     
   }
   li.can{
       margin: 10px;
   }

   .colrepro{
       width: 50%;
   }
   .canciones{
       display: grid;
       grid-template-columns: 45% 45%;
   }
   .names{
       margin: 10px;
   }

   .daleplay{
       width:400px;
       margin-left: 41px;
   }
}
